extends layout

block content
	main(class='container')
		section(class='row justify-content-center')
			div(class='col')

				// User registration
				div#user-registration(class='card')
					div(class='card-body')
						form
							div(class='form-group')
								label(for='username') Label
								input(class='form-control', id='username', name='username', type='text')

				// Contestants table
				div#contestants-table(class='card')
					div(class='card-body')
						img(alt='Eurovision logo', src='/images/eurovision-logo.svg')
					table(class='table')
						thead(class='thead-light')
							tr
								th(class='col-entry', scope='col') Contestant
								th(class='col-score', scope='col') Score
						tbody
							each contestant, index in contestants
								tr
									th(scope='row')=contestant.country + ': ' + contestant.artist + ' – "' + contestant.title + '"'
									td

block footer
	script.
		$(function(){
			var socket = io();

			// ...
			$('#username').focus();
			$('#contestants-table').hide();

			// ...
			$('#user-registration form').submit(function(event){
				event.preventDefault();
				socket.emit('user-register', $('#username').val());
			});

			// ...
			socket.on('user-register', function(username){
				$('#user-registration').html('<h1>' + username + '</h1>').removeClass('card');
				$('#contestants-table').show();
			});
		});
