extends layout

block content
	main#screen(class='container-fluid')
		section(class='row justify-content-center')
			div(class='col')
					
				// Ballot chart
				canvas#ballot-chart

block footer
	script(src='/js/chart.js')
	script(src='/js/screen.js')