extends layout

block content
    main#server-views(class='container')
        section(class='row justify-content-center')
            div(class='col')

                // AdminServer stats
                div(class='card-group text-center')
                    div(class='card bg-dark text-white')
                        div(class='card-body')
                            h3#stats-users 0
                            span(class='card-text text-muted') User(s) registered
                    div(class='card bg-dark text-white')
                        div(class='card-body')
                            h3#stats-ballot --
                            span(class='card-text text-muted') Current ballot
                
                // Contestants table
                div#contestants(class='card shadow-lg')
                    table(class='table')
                        thead(class='thead-dark')
                            tr
                                th(class='col-contestant', scope='col') Contestant
                                th(class='col-votes', scope='col') Votes
                                th(class='col-score', scope='col') Score
                        tbody
                            each contestant, id in contestants
                                tr
                                    td(class='col-contestant', scope='row')
                                        a(class='ballot-link init', href='#', id=id)=contestant.country + ': ' + contestant.artist + ' – "' + contestant.title + '"'
                                    td(class='col-votes') ...
                                    td(class='col-score') ...

block footer
    script(src='/javascripts/server.js')