/*--------------------------------------------------------------
# Global styles
--------------------------------------------------------------*/
.col-ballot, .col-index, .col-score, .col-votes{
	text-align: center;
	width: 1%;
}

.col-ballot a.badge {
	font-weight: bold;
	text-transform: uppercase;
}

.btn[type='button'], .card {
	border-radius: .6rem;
	overflow: hidden;
}

.btn[type='submit']{
	border-radius: 0;
}

.card-group {
	margin-bottom: 2rem;
}

.table, .form-group{
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Host styles
--------------------------------------------------------------*/
#host{
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 1080px
}

/*--------------------------------------------------------------
# Screen styles
--------------------------------------------------------------*/
/* #screen{
	align-items: center;
	background: url('/img/bg_screen.jpg') no-repeat center center;
	background-size: cover;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

#screen #ballot-chart{
	width: 75vw;
} */

/*--------------------------------------------------------------
# User styles
--------------------------------------------------------------*/
#user{
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 640px;
}

#user #user-registration{
	display: block;
}

#user .card, #user-heading{
	display: none;
}

#user .card .card-body {
	text-align: center;
}

#user #user-heading{
	text-align: center;
	margin-bottom: 2rem;
}

#user #contestant-score {
	display: block;
	font-size: 1.75rem;
	margin-top: 1rem;
	text-align: center;
}

#contestant-score:before {
	content: 'Your score:';
	display: block;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
