/*--------------------------------------------------------------
# Global styles
--------------------------------------------------------------*/
.col-ballot, .col-index, .col-score, .col-votes{
	text-align: center;
	width: 1%;
}

.col-ballot a.badge {
	font-weight: bold;
	text-transform: uppercase;
}

.btn[type='button'], .card {
	border-radius: .6rem;
	overflow: hidden;
}

.btn[type='submit']{
	border-radius: 0;
}

.card-group {
	margin-bottom: 2rem;
}

.table, .form-group{
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Host styles
--------------------------------------------------------------*/
#host-cards{
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 1080px
}

/*--------------------------------------------------------------
# Screen styles
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# User styles
--------------------------------------------------------------*/
#user-cards{
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 640px;
}

#user-cards #user-registration{
	display: block;
}

#user-cards .card, #user-heading{
	display: none;
}

#user-cards .card .card-body {
	text-align: center;
}

#user-cards #user-heading{
	text-align: center;
	margin-bottom: 2rem;
}

#user-cards #contestant-score {
	display: block;
	font-size: 1.75rem;
	margin-top: 1rem;
	text-align: center;
}

#contestant-score:before {
	content: 'Your score:';
	display: block;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
