//variables
$sidebar-width: 384px;

//overrides
//components
$border-radius: .5rem;

//bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

//global
body {
  padding-top: 56px;
}

.navbar-brand {
  position: absolute;
    top: .5rem;
    left: 50%;
  transform: translateX(-50%);
}

.card {
  margin: $grid-gutter-width / 2 auto;
  overflow: hidden;

  button[type='submit'] {
    border-radius: 0;
  }

  .table {
    margin-bottom: 0;
  }
}

.contestant-country,
.contestant-details {
  display: block;
}

.contestant-details {
  font-size: .8em;
}

.table {
  td,
  th {
    vertical-align: middle;
  }

  .col-ballot,
  .col-connected,
  .col-id,
  .col-score,
  .col-votes,
  .col-voting {
    text-align: center;
    white-space: nowrap;
    width: 1%;
  }
}

//client
#client {
  [class*='view-'] {
    display: none;
  }
}

.view-ballot {
  .graham {
    text-align: center;
  
    button {
      background: url('/images/btn-graham.png') no-repeat center center;
      background-size: 100%;
      height: 100px;
      width: 80px;
  
      &:active {
        background-size: 90%;
      }
    }
  }
}

.view-join {
  label {
    display: block;
    text-align: center;
  }

  .form-group {
    margin-bottom: 0;
  }
}

//host
.ballot-close {
  display: none;
}

.view-scoreboard {
  .col-ballot {
    button {
      width: 80px;
    }
  }
}

@media(min-width: 992px) {
  #content {
    padding-left: $sidebar-width + $grid-gutter-width / 2;
  }

  #sidebar {
    padding-top: 56px;
    position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
    width: $sidebar-width;
  }
}

#sidebar {
  .card {
    .card-header {
      text-transform: uppercase;

      .badge {
        vertical-align: text-bottom;
      }
    }
  }
  
  h6 {
    text-transform: uppercase;

    ~ h6 {
      margin-top: 1.5rem;
    }

    .badge {
      vertical-align: text-bottom;
    }
  }
}
