// bs overrides
// color system
$primary: #7571f9;
$success: #6fd96f;
$danger: #ff5e5e;

// components
$border-radius: .8rem;

// tables
$table-accent-bg: #f8f9fa;

// bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// custom variables
$client-content-width: 640px;
$host-sidebar-width: 320px;
$navbar-height: 56px;

body {
  background-color: #f3f3f9;
  padding-top: add($grid-gutter-width, $navbar-height);
  padding-bottom: $grid-gutter-width;
}

input {
  text-transform: uppercase;
}

.ballot-close {
  display: none;
}

.card {
  overflow: hidden;
  border: none;

  button[type*='submit'] {
    border-radius: 0;
    text-transform: uppercase;
  }

  .card-header {
    background-color: transparent;
    border: inherit;
    
    + .card-body {
      padding-top: 0;
    }

    .badge {
      vertical-align: bottom;
    }
  }

  .table {
    td:first-child,
    th:first-child {
      padding-left: 1.25rem;
    }

    td:last-child,
    th:last-child {
      padding-right: 1.25rem;
    }
  }
}

.col-connected,
.col-voted {
  color: $success;
  font-size: .6em;
}

.col-connected {
  &:before {
    content: '\25CF';
  }

  &.false {
    color: $danger;
  }
}

.col-flag {
  img {
    height: 2em;
    width: auto;
  }
}

.contestant-country,
.contestant-details,
.contestant-score {
  display: block;
}

.contestant-details {
  font-size: .8em;
}

.gnbb {
  margin-top: $grid-gutter-width / 2;
  text-align: center;

  button {
    background-image: url('/images/btn-graham.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 80px;

    &:active {
      background-size: 80%;
    }
  }
}

.navbar {
  background: linear-gradient(230deg, #759bff, #843cf6);

  .navbar-brand {
    position: absolute;
      top: 50%;
      left: 50%;
    text-transform: uppercase;
    transform: translateX(-50%) translateY(-50%);
  }
}

.table {
  td,
  th {
    vertical-align: middle;
  }

  thead {
    font-size: .8em;
    text-transform: uppercase;
  }

  .text-blur {
    color: transparent;
    text-shadow: 0 0 .6em rgba(0, 0, 0, .8);
    transition: text-shadow 0.1s linear;

    &:focus,
    &:hover {
      text-shadow: 0 0 0 $body-color;
    }
  }

  .text-nowrap {
    width: 1%;
  }
}

#client {
  max-width: $client-content-width;
  
  div[id*='view-'] {
    display: none;
  }
}

#host {
  div[id*='widget-'] {
    .card {
      .card-body {
        display: none;

        .table {
          td:first-child,
          th:first-child {
            padding-left: 0;
          }
      
          td:last-child,
          th:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  #content {
    @media(min-width: 992px) {
      padding-left: add($grid-gutter-width / 2, $host-sidebar-width);
    }
  }

  #sidebar {
    .card {
      margin-bottom: $grid-gutter-width / 2;
    }

    @media(min-width: 992px) {
      background-color: $body-bg;
      padding-top: add($grid-gutter-width, $navbar-height);
      position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
      width: $host-sidebar-width;
      z-index: 1;
  
      .card {
        box-shadow: none !important;
  
        .card-header {
          font-size: $font-size-base;
  
          + .card-body {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

#view-scoreboard {
  .btn {
    min-width: 60px;
  }
}
