// bs overrides
// color system
$primary: #7571f9;
$success: #6fd96f;
$danger: #ff5e5e;

// body
$body-bg: #f3f3f9;

// components
$border-radius: .8rem;

// cards
$card-border-width: none;
$card-cap-bg: transparent;

// tables
$table-accent-bg: #f8f9fa;

// bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// custom variables
$card-max-width: 640px;
$host-sidebar-width: 320px;
$navbar-height: 56px;

// global
body {
  padding-top: add($grid-gutter-width, $navbar-height);
  padding-bottom: $grid-gutter-width;
}

input {
  text-transform: uppercase;
}

.navbar {
  background: linear-gradient(230deg, #759bff, #843cf6);
}

.navbar-brand {
  margin-right: 0;
  text-transform: uppercase;
}

.card {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  button[type*='submit'] {
    border-radius: 0;
    text-transform: uppercase;
  }

  .table {
    td:first-child,
    th:first-child {
      padding-left: $card-spacer-x;
    }

    td:last-child,
    th:last-child {
      padding-right: $card-spacer-x;
    }
  }
}

.card-header {
  + .card-body {
    padding-top: 0;
  }

  .badge {
    vertical-align: bottom;
  }
}

.col-flag {
  img {
    height: 2em;
    width: auto;
  }
}

.contestant-country,
.contestant-details,
.contestant-score {
  display: block;
}

.contestant-details {
  font-size: .8em;
}

.gnbb {
  margin-top: $grid-gutter-width / 2;
  text-align: center;

  button {
    background-image: url('/media/gnbb.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 80px;

    &:active {
      background-size: 80%;
    }
  }
}

.table {
  td,
  th {
    vertical-align: middle;
  }

  td.text-hidden,
  .text-hidden td {
    filter: blur(.4em) grayscale(1);
    transition: filter 0.2s linear;
  }

  thead {
    font-size: .8em;
    text-transform: uppercase;

    th {
      border-top-width: 2px;
    }
  }

  .text-nowrap {
    width: 1%;
  }
}

#client,
#pca {
  .card {
    max-width: $card-max-width;
  }

  .card-header {
    text-align: center;
  }
}

#client {
  div[id*='view-'] {
    display: none;
  }
}

#host {
  .ballot-close,
  .ballot-open {
    min-width: 60px;
  }

  .ballot-close {
    display: none;
  }

  #sidebar {
    .card {
      margin-bottom: $grid-gutter-width / 2;
    }

    .card-body {
      display: none;
    }
  }

  @media(min-width: 992px) {
    #content {
      padding-left: add($grid-gutter-width / 2, $host-sidebar-width);
    }

    #sidebar {
      background-color: #fff;
      padding-top: add($grid-gutter-width, $navbar-height);
      position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
      width: $host-sidebar-width;
      z-index: 1;

      .card {
        box-shadow: none !important;
      }
    }
  }
}

#pca {
  .card-header,
  .nav-link {
    text-transform: capitalize;
  }
  
  .nav {
    margin-bottom: $grid-gutter-width / 2;
  }

  #panel-pca {
    text-align: center;
  
    h1 {
      background: linear-gradient(130deg, #759bff, #843cf6);
      font-family: 'Shrikhand';
      font-size: 2.8em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

#ui-ballot {
  .list-group-item {
    h6 {
      text-transform: capitalize;
    }
  }
}

#ui-scoreboard {
  .text-hidden {
    &:focus,
    &:hover {
      filter: unset;
    }
  }
}

#ui-voters {
  .col-connected {
    color: $success;
    font-size: .6em;
  
    &:before {
      content: '\25cf';
    }
  
    &.false {
      color: $danger;
    }
  }

  .col-name {
    text-transform: capitalize;
  }

  .col-voted {
    color: $primary;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  
    &.true:before {
      content: '\f00c';
    }
  }

  .table {
    td:first-child,
    th:first-child {
      padding-left: 0;
    }

    td:last-child,
    th:last-child {
      padding-right: 0;
    }
  }
}
